---
import Icon from '@components/Icon.astro';

interface Props extends astroHTML.JSX.ButtonHTMLAttributes {
  variant?:
    | 'default'
    | 'secondary'
    | 'accent-cool'
    | 'accent-warm'
    | 'base'
    | 'outline'
    | 'inverse'
    | 'unstyled';
  size?: 'default' | 'big';
  icon?: string;
  className?: string;
  href?: string;
  to?: string;
  centered?: boolean;
}

const {
  variant = 'default',
  size = 'default',
  icon,
  class: className,
  className: classNameProp,
  type = 'button',
  href,
  to,
  centered,
  ...rest
} = Astro.props;

const targetUrl = href || to;
const Tag = targetUrl ? 'a' : 'button';

const classes = [
  'usa-button',
  'radius-pill',
  variant !== 'default' && `usa-button--${variant}`,
  size === 'big' && 'usa-button--big',
  className,
  classNameProp,
]
  .filter(Boolean)
  .join(' ');
---

{centered ? (
  <div style="text-align: center;">
    <Tag class={classes} {...rest}>
      {icon && <Icon name={icon} />}
      <slot />
    </Tag>
  </div>
) : (
  <Tag class={classes} {...rest}>
    {icon && <Icon name={icon} />}
    <slot />
  </Tag>
)}